In [1]:
import numpy as np
import pandas as pd
import nltk
import re
import tensorflow
import joblib
from os.path import exists
from nltk.corpus import stopwords
from tensorflow.keras.preprocessing.text import one_hot, Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.models import Sequential
from keras.layers import LSTM
from tensorflow.keras.layers import Embedding,  Bidirectional
from tensorflow.keras.models import load_model
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score

2022-12-10 14:36:31.403822: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

## Analyze Data
first we analyze data, how many fields does it have, how good they are? is there balanced data or NaN in there? how many category for categorical values? etc.

In [2]:
df = pd.read_csv("fake_job_postings.csv")
df = df.fillna("")
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,0,Other,Internship,,,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",,,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,0,,,,,,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",,,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [3]:
mmap = {}
for l in df['industry']:
    if l == '': continue
    if l in mmap:
        mmap[l] += 1
    else:
        mmap[l] = 1
mmap

{'Marketing and Advertising': 828,
 'Computer Software': 1376,
 'Hospital & Health Care': 497,
 'Online Media': 101,
 'Information Technology and Services': 1734,
 'Financial Services': 779,
 'Management Consulting': 130,
 'Events Services': 50,
 'Internet': 1062,
 'Facilities Services': 94,
 'Consumer Electronics': 62,
 'Telecommunications': 342,
 'Consumer Services': 358,
 'Construction': 158,
 'Oil & Energy': 287,
 'Education Management': 822,
 'Building Materials': 78,
 'Banking': 84,
 'Food & Beverages': 72,
 'Food Production': 44,
 'Health, Wellness and Fitness': 127,
 'Insurance': 123,
 'E-Learning': 139,
 'Cosmetics': 65,
 'Staffing and Recruiting': 127,
 'Venture Capital & Private Equity': 29,
 'Leisure, Travel & Tourism': 76,
 'Human Resources': 108,
 'Pharmaceuticals': 42,
 'Farming': 24,
 'Legal Services': 97,
 'Luxury Goods & Jewelry': 4,
 'Machinery': 11,
 'Real Estate': 175,
 'Mechanical or Industrial Engineering': 37,
 'Public Relations and Communications': 58,
 'Consumer Goods': 63,
 'Medical Practice': 60,
 'Electrical/Electronic Manufacturing': 73,
 'Hospitality': 88,
 'Music': 10,
 'Market Research': 54,
 'Automotive': 120,
 'Philanthropy': 4,
 'Utilities': 33,
 'Primary/Secondary Education': 6,
 'Logistics and Supply Chain': 112,
 'Design': 129,
 'Gambling & Casinos': 42,
 'Accounting': 159,
 'Environmental Services': 49,
 'Mental Health Care': 23,
 'Investment Management': 6,
 'Apparel & Fashion': 97,
 'Media Production': 48,
 'Publishing': 39,
 'Medical Devices': 19,
 'Information Services': 28,
 'Retail': 223,
 'Sports': 23,
 'Computer Games': 86,
 'Chemicals': 22,
 'Aviation & Aerospace': 24,
 'Business Supplies and Equipment': 18,
 'Program Development': 9,
 'Computer Networking': 44,
 'Biotechnology': 38,
 'Civic & Social Organization': 55,
 'Religious Institutions': 6,
 'Warehousing': 51,
 'Airlines/Aviation': 63,
 'Writing and Editing': 19,
 'Restaurants': 52,
 'Outsourcing/Offshoring': 19,
 'Transportation/Trucking/Railroad': 53,
 'Wireless': 4,
 'Investment Banking': 4,
 'Nonprofit Organization Management': 76,
 'Libraries': 2,
 'Computer Hardware': 35,
 'Broadcast Media': 50,
 'Printing': 30,
 'Graphic Design': 32,
 'Entertainment': 74,
 'Wholesale': 11,
 'Research': 29,
 'Animation': 5,
 'Government Administration': 22,
 'Capital Markets': 5,
 'Computer & Network Security': 49,
 'Semiconductors': 11,
 'Security and Investigations': 30,
 'Architecture & Planning': 10,
 'Maritime': 3,
 'Fund-Raising': 16,
 'Higher Education': 11,
 'Renewables & Environment': 9,
 'Motion Pictures and Film': 6,
 'Law Practice': 19,
 'Government Relations': 11,
 'Packaging and Containers': 5,
 'Sporting Goods': 1,
 'Mining & Metals': 3,
 'Import and Export': 5,
 'International Trade and Development': 8,
 'Professional Training & Coaching': 14,
 'Textiles': 2,
 'Commercial Real Estate': 4,
 'Law Enforcement': 10,
 'Package/Freight Delivery': 5,
 'Translation and Localization': 10,
 'Photography': 7,
 'Industrial Automation': 7,
 'Wine and Spirits': 1,
 'Public Safety': 7,
 'Civil Engineering': 9,
 'Military': 2,
 'Defense & Space': 9,
 'Veterinary': 8,
 'Executive Office': 8,
 'Performing Arts': 3,
 'Individual & Family Services': 9,
 'Public Policy': 3,
 'Nanotechnology': 2,
 'Museums and Institutions': 1,
 'Fishery': 4,
 'Plastics': 3,
 'Furniture': 3,
 'Shipbuilding': 1,
 'Alternative Dispute Resolution': 1,
 'Ranching': 1}

In [4]:
mmap = {}
for l in df['function']:
    if l == '': continue
    if l in mmap:
        mmap[l] += 1
    else:
        mmap[l] = 1
mmap

{'Marketing': 830,
 'Customer Service': 1229,
 'Sales': 1468,
 'Health Care Provider': 338,
 'Management': 317,
 'Information Technology': 1749,
 'Other': 325,
 'Engineering': 1348,
 'Administrative': 630,
 'Design': 340,
 'Production': 116,
 'Education': 325,
 'Supply Chain': 36,
 'Business Development': 228,
 'Product Management': 114,
 'Financial Analyst': 33,
 'Consulting': 144,
 'Human Resources': 205,
 'Project Management': 183,
 'Manufacturing': 74,
 'Public Relations': 76,
 'Strategy/Planning': 46,
 'Advertising': 90,
 'Finance': 172,
 'General Business': 68,
 'Research': 50,
 'Accounting/Auditing': 212,
 'Art/Creative': 132,
 'Quality Assurance': 111,
 'Data Analyst': 82,
 'Business Analyst': 84,
 'Writing/Editing': 132,
 'Distribution': 24,
 'Science': 14,
 'Training': 38,
 'Purchasing': 15,
 'Legal': 47}

In [5]:
edu_map = {}
for l in df['required_education']:
    if l == '': continue
    if l in edu_map:
        edu_map[l] += 1
    else:
        edu_map[l] = 1
edu_map

{"Bachelor's Degree": 5145,
 "Master's Degree": 416,
 'High School or equivalent': 2080,
 'Unspecified': 1397,
 'Some College Coursework Completed': 102,
 'Vocational': 49,
 'Certification': 170,
 'Associate Degree': 274,
 'Professional': 74,
 'Doctorate': 26,
 'Some High School Coursework': 27,
 'Vocational - Degree': 6,
 'Vocational - HS Diploma': 9}

In [6]:
locNum = {}
for l in df['location']:
    frags = l.split(',')
    country = frags[0]
    if country in locNum:
        locNum[country] += 1
    else:
        locNum[country] = 1
locNum

{'US': 10656,
 'NZ': 333,
 'DE': 383,
 'GB': 2384,
 'AU': 214,
 'SG': 80,
 'IL': 72,
 'AE': 54,
 'CA': 457,
 'IN': 276,
 'EG': 52,
 'PL': 76,
 'GR': 940,
 '': 346,
 'PK': 27,
 'BE': 117,
 'BR': 36,
 'SA': 15,
 'DK': 42,
 'RU': 20,
 'ZA': 40,
 'CY': 11,
 'HK': 77,
 'TR': 17,
 'IE': 114,
 'LT': 23,
 'JP': 20,
 'NL': 127,
 'AT': 14,
 'KR': 10,
 'FR': 70,
 'EE': 72,
 'TH': 10,
 'PA': 9,
 'KE': 7,
 'MU': 14,
 'MX': 18,
 'RO': 46,
 'MY': 21,
 'FI': 29,
 'CN': 15,
 'ES': 66,
 'SE': 49,
 'CL': 2,
 'UA': 13,
 'QA': 21,
 'IT': 31,
 'LV': 6,
 'IQ': 10,
 'BG': 17,
 'PH': 132,
 'CZ': 6,
 'VI': 3,
 'MT': 13,
 'HU': 14,
 'BD': 2,
 'KW': 2,
 'LU': 9,
 'NG': 10,
 'RS': 7,
 'BY': 9,
 'VN': 4,
 'ID': 13,
 'ZM': 2,
 'NO': 8,
 'BH': 9,
 'UG': 1,
 'CH': 15,
 'TT': 4,
 'SD': 1,
 'SK': 2,
 'AR': 9,
 'TW': 4,
 'PT': 18,
 'PE': 1,
 'CO': 1,
 'IS': 2,
 'SI': 1,
 'MA': 1,
 'AM': 2,
 'TN': 2,
 'GH': 1,
 'AL': 1,
 'HR': 1,
 'CM': 1,
 'SV': 1,
 'NI': 4,
 'LK': 2,
 'JM': 1,
 'KZ': 1,
 'KH': 1}

In [7]:
salary_map = {}
for l in df['salary_range']:
    if l == '': continue
    if l in locNum:
        salary_map[l] += 1
    else:
        salary_map[l] = 1
for key in salary_map:
    print(key,':',salary_map[key],end = ' ')

20000-28000 : 1 100000-120000 : 1 120000-150000 : 1 50000-65000 : 1 40000-50000 : 1 60-80 : 1 65000-70000 : 1 75-115 : 1 75000-110000 : 1 17000-20000 : 1 16000-28000 : 1 95000-115000 : 1 15000-18000 : 1 50000-70000 : 1 45000-60000 : 1 30000-40000 : 1 70000-90000 : 1 10000-14000 : 1 50-110 : 1 28000-45000 : 1 0-34300 : 1 35000-40000 : 1 9-Dec : 1 44000-57000 : 1 18500-28000 : 1 55000-75000 : 1 30000-35000 : 1 0-0 : 1 20000-40000 : 1 360000-600000 : 1 50000-80000 : 1 80000-100000 : 1 52000-78000 : 1 15750-15750 : 1 40000-65000 : 1 45000-50000 : 1 30000-37000 : 1 45000-67000 : 1 35000-100000 : 1 180000-216000 : 1 45000-65000 : 1 28000-32000 : 1 0-1000 : 1 36000-40000 : 1 80000-110000 : 1 35000-73000 : 1 19000-19000 : 1 60000-120000 : 1 120000-15000000 : 1 42000-55000 : 1 90000-120000 : 1 100000-150000 : 1 28000-38000 : 1 1600-1700 : 1 50000-60000 : 1 30000-70000 : 1 32000-40000 : 1 50-100 : 1 9000-17000 : 1 23040-28800 : 1 105-110 : 1 13000-16000 : 1 100000-180000 : 1 45000-55000 : 1 9000-12000 : 1 50000-90000 : 1 25000-42000 : 1 40000-60000 : 1 600000-750000 : 1 120000-170000 : 1 45000-90000 : 1 25000-30000 : 1 65000-75000 : 1 18000-19000 : 1 100000-130000 : 1 18000-20000 : 1 22000-30000 : 1 5000-6000 : 1 36000-52000 : 1 11000-11000 : 1 110000-150000 : 1 50000-150000 : 1 100000-600000 : 1 80000-120000 : 1 10800-10800 : 1 50000-72000 : 1 35000-150000 : 1 60000-100000 : 1 70000-125000 : 1 37000-37000 : 1 0-130000 : 1 75000-120000 : 1 20000-20000 : 1 45000-85000 : 1 25000-35000 : 1 120000-165000 : 1 23000-32000 : 1 18000-21000 : 1 100000-300000 : 1 65000-80000 : 1 55000-60000 : 1 40000-85000 : 1 30000-60000 : 1 40000-70000 : 1 75000-85000 : 1 320000-350000 : 1 110000-140000 : 1 20000-35000 : 1 20000-26000 : 1 70000-120000 : 1 85000-125000 : 1 9600-18000 : 1 28000-40000 : 1 90-120 : 1 4001-6000 : 1 18000-30000 : 1 95000-125000 : 1 30000-45000 : 1 60000-75000 : 1 30000-1000000 : 1 40000-55000 : 1 55000-65000 : 1 35000-45000 : 1 20000-30000 : 1 90000-100000 : 1 180000-240000 : 1 75-100 : 1 1161-1161 : 1 36000-48000 : 1 30000-50000 : 1 60000-80000 : 1 35-45 : 1 15000-20000 : 1 21000-25000 : 1 16000-18500 : 1 16000-24000 : 1 110000-130000 : 1 40000-45000 : 1 28000-35000 : 1 80000-105000 : 1 36000-63000 : 1 60000-90000 : 1 124000-375000 : 1 50-53 : 1 90000-110000 : 1 50000-55000 : 1 33000-36000 : 1 35000-65000 : 1 26000-30000 : 1 40000-80000 : 1 9600-57600 : 1 75000-125000 : 1 24000-26000 : 1 36000-50000 : 1 85-140 : 1 7000-9000 : 1 75000-80000 : 1 0-90000 : 1 4500-4500 : 1 25000-50000 : 1 70-100 : 1 70000-85000 : 1 2500-3500 : 1 130000-160000 : 1 15000-30000 : 1 65000-85000 : 1 21120-30000 : 1 48000-57600 : 1 20000-50000 : 1 84000-102000 : 1 500000-650000 : 1 24000-32000 : 1 28000-42000 : 1 80000-90000 : 1 13-20 : 1 1000-2000 : 1 35000-120000 : 1 1000-20000 : 1 18000-22000 : 1 50000-120000 : 1 20000-25000 : 1 75000-150000 : 1 0-30000 : 1 15000-17000 : 1 14000-18000 : 1 55386-66731 : 1 115000-125000 : 1 70000-80000 : 1 21-63000 : 1 16500-17500 : 1 18000-25000 : 1 14000-16000 : 1 35000-50000 : 1 3-Apr : 1 10000-15000 : 1 15500-50000 : 1 120000-240000 : 1 60000-70000 : 1 20000-38000 : 1 23000-28000 : 1 52000-57000 : 1 4-Apr : 1 44624-53764 : 1 12000-12000 : 1 15600-15600 : 1 1600-1600 : 1 25000-36000 : 1 8000-10000 : 1 20000-23000 : 1 100-200 : 1 0-50000 : 1 1100-1200 : 1 100000-110000 : 1 45000-45000 : 1 96000-100000 : 1 40000-40000 : 1 33000-34000 : 1 18000-44000 : 1 16000-20000 : 1 1050-1100 : 1 50000-100000 : 1 21000-21000 : 1 9600-10500 : 1 400000-650000 : 1 Oct-15 : 1 800000-2000000 : 1 335000-400000 : 1 1000-1000 : 1 19000-24000 : 1 45000-70000 : 1 960000-1200000 : 1 55-65 : 1 23000-96000 : 1 110000-120000 : 1 50-70 : 1 480000-600000 : 1 1000-5000 : 1 80000-175000 : 1 35000-35000 : 1 75000-100000 : 1 24900-31200 : 1 42000-48000 : 1 27000-28000 : 1 18000-23000 : 1 10716-16074 : 1 0-9360000 : 1 0-268 : 1 20000-22000 : 1 37400-37400 : 1 49000-58000 : 1 80000-80000 : 1 25000-40000 : 1 15000-16000 : 1 25000-75000 : 1 100000-200000 : 1 39000-100000 : 1 140000-150000 : 1 80000-119000 : 1 80000-200000 : 1 30000-38000 : 1 20-3075 : 1 40000-120000 : 1 25000-27000 : 1 25000-100000 : 1 120000-160000 : 1 16500-18500 : 1 20000-60000 : 1 36000-42000 : 1 17000-19000 : 1 40000-140000 : 1 800000000-1200000000 : 1 35000-55000 : 1 0-45000 : 1 40000-100000 : 1 45-75 : 1 42000-62000 : 1 23000-26000 : 1 70000-300000 : 1 77000-97000 : 1 16000-18000 : 1 80000-130000 : 1 18-22 : 1 30000-37500 : 1 50-60 : 1 32500-37500 : 1 140000-160000 : 1 19800-20800 : 1 13000-14000 : 1 80000-85000 : 1 0-1 : 1 200000-600000 : 1 12500-15000 : 1 300000-330000 : 1 39000-42000 : 1 23000-24000 : 1 70000-150000 : 1 18720-21840 : 1 29000-33000 : 1 20000-24000 : 1 130000-150000 : 1 400000-600000 : 1 17000-22000 : 1 67000-70000 : 1 12000-24000 : 1 19000-36000 : 1 540000-720000 : 1 80000-84000 : 1 180000-600000 : 1 14560-17680 : 1 450-500 : 1 9600-14400 : 1 32000-34000 : 1 20-25 : 1 1000-6000 : 1 22000-25000 : 1 30160-30160 : 1 22000-26000 : 1 110000-125000 : 1 66000-84000 : 1 30000-450000 : 1 14000-17000 : 1 18000-24000 : 1 41000-45000 : 1 12000-17000 : 1 16000-19200 : 1 60-70 : 1 35000-60000 : 1 13-15 : 1 30000-30000 : 1 80000-140000 : 1 55000-70000 : 1 8-Sep : 1 65000-120000 : 1 0-25000 : 1 0-15000 : 1 36000-65000 : 1 17000-32000 : 1 0-24000 : 1 0-1200000 : 1 55000-100000 : 1 200000-500000 : 1 10000-16000 : 1 14000-40000 : 1 200-230 : 1 3000-100000 : 1 12000-45000 : 1 721000-780000 : 1 0-92000 : 1 70-90 : 1 22000-22000 : 1 135-165 : 1 2000-5000 : 1 39000-41000 : 1 30-50 : 1 30000-36000 : 1 90000-125000 : 1 100000-240000 : 1 2500-5000 : 1 110-140 : 1 2000-6000 : 1 17000-21000 : 1 95000-150000 : 1 90000-130000 : 1 70-120 : 1 32000-36000 : 1 55000-80000 : 1 1000-3000 : 1 350000-500000 : 1 3000000-4000000 : 1 25000-28000 : 1 70000-130000 : 1 100000-160000 : 1 3000-6000 : 1 30000-100000 : 1 130000-145000 : 1 20000-100000 : 1 41600-62400 : 1 6266624-8582080 : 1 2000-2000 : 1 20000-500000 : 1 95000-110000 : 1 19000-26000 : 1 120000-130000 : 1 140000-200000 : 1 42000-80000 : 1 34000-50000 : 1 40000-75000 : 1 22000-60000 : 1 24000-28000 : 1 0-100000 : 1 800000-1200000 : 1 60-150 : 1 15000-75000 : 1 10000-30000 : 1 15000-25000 : 1 0-2000 : 1 33000-53000 : 1 28000-28000 : 1 50000-75000 : 1 5000-10000 : 1 40000 : 1 17000-24000 : 1 20000-36000 : 1 29120-37440 : 1 30000-48000 : 1 35-100 : 1 45000-96000 : 1 1000-1500 : 1 12500-14000 : 1 40000-41000 : 1 34000-35000 : 1 7200-1380000 : 1 26000-29000 : 1 180000-200000 : 1 0-20000 : 1 20800-22880 : 1 22000-28000 : 1 14000-14000 : 1 2000-40000 : 1 23000-25000 : 1 28000-30000 : 1 12000-17500 : 1 34000-38000 : 1 32-35 : 1 750-750 : 1 35-40 : 1 600000-800000 : 1 20800-22800 : 1 27-30 : 1 250000-500000 : 1 27000-32000 : 1 85-95 : 1 50000-85000 : 1 500000-800000 : 1 110-120 : 1 20-22 : 1 27500-36000 : 1 300000-325000 : 1 80-100 : 1 60-75 : 1 15-25 : 1 240000-500000 : 1 4000-5000 : 1 0-65000 : 1 17000-30000 : 1 0-43500 : 1 25-1000 : 1 21600-31200 : 1 23000-30000 : 1 45-48 : 1 36000-200000 : 1 26000-52000 : 1 900-900 : 1 85000-95000 : 1 160000-180000 : 1 50000-300000 : 1 80000-95000 : 1 2800-3500 : 1 100-150 : 1 100-120 : 1 26000-32000 : 1 25000-45000 : 1 32000-52000 : 1 130000-180000 : 1 2000-4000 : 1 70000-110000 : 1 45000-75000 : 1 20000-27000 : 1 2000000-15000000 : 1 65000-72000 : 1 6000000-7000000 : 1 18000-18000 : 1 55000-85000 : 1 120000-120000 : 1 60000-65000 : 1 200000-250000 : 1 37500-42500 : 1 70000-100000 : 1 29000-32000 : 1 45-65 : 1 0-35000 : 1 0-150000 : 1 14000-22400 : 1 150000-160000 : 1 200-250 : 1 0-95000 : 1 15000-200000 : 1 65000-115000 : 1 50-90 : 1 18500-25000 : 1 75000-90000 : 1 92000-141000 : 1 35-60 : 1 1000-26000 : 1 76800-96000 : 1 46000-55000 : 1 32000-45000 : 1 27000-34000 : 1 85000-110000 : 1 12000-19000 : 1 30000-34000 : 1 196000-230000 : 1 42000-58000 : 1 150000-16500000 : 1 60000-73000 : 1 240000-240000 : 1 17-20 : 1 32000-46000 : 1 100000-250000 : 1 24000-27600 : 1 25000-25000 : 1 8000-13000 : 1 22000-24000 : 1 85000-120000 : 1 40-50 : 1 35000-95000 : 1 35000-75000 : 1 318278-400000 : 1 120000-140000 : 1 600000-1200000 : 1 100000-117000 : 1 45000-95000 : 1 55-105 : 1 33000-100000 : 1 14400-24000 : 1 24-25 : 1 125-175 : 1 250000-300000 : 1 175-225 : 1 14000-15000 : 1 1000-10000 : 1 120-160 : 1 10000-100000 : 1 25-28 : 1 65000-100000 : 1 48000-60000 : 1 600000-1000000 : 1 33280-37440 : 1 5000-7000 : 1 107000-115000 : 1 80000-89000 : 1 0-16000 : 1 14-15 : 1 45000-80000 : 1 18720-19760 : 1 35000-36000 : 1 190000-220000 : 1 35000-70000 : 1 37000-40000 : 1 1500000-2500000 : 1 65000-110000 : 1 700000-1200000 : 1 23000-27000 : 1 72000-144000 : 1 5500-5500 : 1 10000-20000 : 1 420000-540000 : 1 99000-99999 : 1 0-180000 : 1 0-120000 : 1 25000-31000 : 1 55000-68000 : 1 4-Jun : 1 1300000-1800000 : 1 40000-54000 : 1 10000-120000 : 1 100000-125000 : 1 42000-54000 : 1 220000-225000 : 1 45000-58000 : 1 0-110406 : 1 3000-7000 : 1 17-19 : 1 24000-29000 : 1 26000-31000 : 1 250000-550000 : 1 12000-15000 : 1 168000-216000 : 1 40-80 : 1 125000-135000 : 1 40000-46000 : 1 10000-10000 : 1 200000-300000 : 1 90-110 : 1 850-1000 : 1 33000-63000 : 1 9000-10000 : 1 40-100 : 1 900000-1200000 : 1 26000-28000 : 1 17000-35000 : 1 17500-17500 : 1 50000-50000 : 1 150000-200000 : 1 90-100 : 1 10-Oct : 1 Oct-20 : 1 13000-15000 : 1 24000-36000 : 1 100000-115000 : 1 105000-125000 : 1 65000-90000 : 1 10000-22000 : 1 Jun-18 : 1 1000-1100 : 1 3000-60000 : 1 120000-135000 : 1 38000-45000 : 1 18500-27000 : 1 30-40 : 1 71000-72000 : 1 30000-65000 : 1 90000-150000 : 1 200000-240000 : 1 900-1000 : 1 70000-160000 : 1 32000-37440 : 1 80-110 : 1 29000-40000 : 1 42000-46000 : 1 1000000-1400000 : 1 11-Nov : 1 1150-1150 : 1 55000-90000 : 1 10-Nov : 1 956-956 : 1 40000-47000 : 1 42000-42000 : 1 90000-95000 : 1 120000-125000 : 1 125000-150000 : 1 21000-35000 : 1 14000-25000 : 1 240000-300000 : 1 300000-420000 : 1 11-Dec : 1 14000-30000 : 1 150-175 : 1 2-Apr : 1 90000-140000 : 1 25000-32000 : 1 42000-60000 : 1 15000-19000 : 1 0-48000 : 1 175000-250000 : 1 60000-96000 : 1 22000-40000 : 1 150000-250000 : 1 80000-150000 : 1 25000-65000 : 1 60000-72000 : 1 550000-720000 : 1 9240-13200 : 1 41600-52000 : 1 120000-180000 : 1 50000-58000 : 1 55000-79000 : 1 10000-18000 : 1 30000-80000 : 1 300000-400000 : 1 750000-1200000 : 1 41000-50000 : 1 36000-54000 : 1 200000-700000 : 1 10000-12000 : 1 24000-30000 : 1 100000-170000 : 1 40000-90000 : 1 1200-3000 : 1 300000-600000 : 1 77000-87000 : 1 78000-80000 : 1 0-60000 : 1 115000-130000 : 1 500000000-800000000 : 1 85000-90000 : 1 2500-2500 : 1 44000-102000 : 1 28000-34000 : 1 70000-105000 : 1 46000-62000 : 1 2000000-2263000 : 1 6000-20000 : 1 15500-17500 : 1 0-32000 : 1 96000-240000 : 1 15400-19600 : 1 2000-2500 : 1 45000-63000 : 1 31181-37566 : 1 16000-16000 : 1 80000-250000 : 1 32000-50000 : 1 85000-100000 : 1 45000-120000 : 1 27000-34280 : 1 16000-19000 : 1 90000-115000 : 1 1300-1500 : 1 600000-840000 : 1 19500-24000 : 1 26400-36000 : 1 43000-69000 : 1 8000-14000 : 1 60-65 : 1 24000-35000 : 1 65-75 : 1 70-150 : 1 60-90 : 1 1200-1400 : 1 60-85 : 1 2-Jun : 1 38000-52000 : 1 65-100 : 1 528000-636000 : 1 90-140000 : 1 115-120 : 1 45-70 : 1 962-962 : 1 2500-2800 : 1 30000-31000 : 1 80-120 : 1 78000-115000 : 1 30000-32000 : 1 70000-126000 : 1 11000-25000 : 1 72000-108000 : 1 48000-55000 : 1 35000-48000 : 1 1000000-1500000 : 1 50-65 : 1 38000-65000 : 1 400000-500000 : 1 60000-150000 : 1 41600-50000 : 1 104000-120000 : 1 63000-63000 : 1 37000-41600 : 1 52000-100000 : 1 120000-300000 : 1 130000-170000 : 1 91000-150000 : 1 60000-95000 : 1 7500-8000 : 1 36000-60000 : 1 12500-12500 : 1 65000-77000 : 1 33000-39000 : 1 300000-500000 : 1 1920-2000 : 1 192000-288000 : 1 32000-42000 : 1 32000-37000 : 1 45000-72000 : 1 96000-120000 : 1 70000-95000 : 1 0-70000 : 1 1000-1400 : 1 7-12000 : 1 10000-25000 : 1 115000-160000 : 1 60000-160000 : 1 1000-4000 : 1 30000-49000 : 1 18000-26000 : 1 30000-42000 : 1 0-115 : 1 14436-28000 : 1 30000-40700 : 1 34000-44000 : 1 12000-18000 : 1 110000-135000 : 1 40-60 : 1 16000-25000 : 1 25-35 : 1 38000-75000 : 1 8000-20000 : 1 16000-22000 : 1 6000-15000 : 1 24960-27040 : 1 30000-39000 : 1 55000-755000 : 1 85000-105000 : 1 48000-58000 : 1 100000-400000 : 1 96000-144000 : 1 144000-192000 : 1 45-85 : 1 19200-33600 : 1 60000-85000 : 1 120000-264000 : 1 27000-30000 : 1 18720-18720 : 1 13000-18000 : 1 38000-48000 : 1 1600-19000 : 1 60000-130000 : 1 120000-168000 : 1 75000-95000 : 1 3000-4000 : 1 0-38000 : 1 0-12500 : 1 175000-275000 : 1 32000-35000 : 1 34000-45000 : 1 21000-36000 : 1 35000-42000 : 1 200000-280000 : 1 22-28 : 1 30000-33000 : 1 240000-600000 : 1 65000-125000 : 1 95000-105000 : 1 300000-450000 : 1 90-150 : 1 30-35 : 1 40-55 : 1 45000-175000 : 1 143520-197600 : 1 85000-150000 : 1 145600-187200 : 1 166400-260000 : 1 55-125 : 1 33000-37000 : 1 45-80 : 1 200000-400000 : 1 93600-122720 : 1 65000-140000 : 1 400000-450000 : 1 8000-9000 : 1 208000-270400 : 1 360000-400000 : 1 83200-114400 : 1 93600-114400 : 1 156000-187200 : 1 70000-200000 : 1 15-17 : 1 20000-21000 : 1 55-72 : 1 50-95 : 1 45-67 : 1 55-67 : 1 35000-38000 : 1 48-60 : 1 27000-29000 : 1 45-55 : 1 20800-20800 : 1 240000-480000 : 1 6000-10000 : 1 1050-1050 : 1 14000-36000 : 1 14500-19000 : 1 20000-260000 : 1 55000-69000 : 1 360000-500000 : 1 50000-95000 : 1 16-20 : 1 140-160 : 1 15500-16500 : 1 10000-250000 : 1 2000-3000 : 1 4500-5000 : 1 26000-50000 : 1 25-30 : 1 Dec-25 : 1 1517-1517 : 1 1234-12345 : 1 34000-42000 : 1 15-19 : 1 21-31 : 1 48000-65000 : 1 53000-67000 : 1 22-61000 : 1 3700-3800 : 1

## Data Cleaning
Because we are operating the plane in a algebra space, we only want numerical values. For all the 17 features, I would perform data pre processing as follows:

 job id: maybe related to job created time? treat as integer
 
 title: split into several features, like intern, account, etc. As first input, could gather into text vector.
 
 location: split into US and non US group because lack of data in some minor countries, like: is_US(1 for in US 0 for not) 
 
 department, missing too much data, maybe will collect as text
 
 salary range, missing data, may use as 3, has_salary_range, salary_lower, salary_higher, treat as int.
 
 company profile: vectorize, gather as text vector.
 
 desc, req, vectorize, split, gather as text vector.
 
 benefits, missing data, may use and vectorize. If there are, gather as text vector.
 
 telecommuting	has_company_logo	has_questions, use as it is
 
 mployment_type	required_experience	required_education	industry	function	split and use, maybe one more feature for having NaN or not
 
 fraudulent: target

In [8]:
CleanDf = pd.DataFrame()

In [9]:
CleanDf['telecommuting'] = df['telecommuting']
CleanDf['has_company_logo'] = df['has_company_logo']
CleanDf['has_questions'] = df['has_questions']

In [10]:
edu_map = {}
for l in df['required_education']:
    if l == '': continue
    if l in edu_map:
        edu_map[l] += 1
    else:
        edu_map[l] = 1
add_map = {}
add_map['has_edu_require'] = []
for key in edu_map:
    add_map[key] = []
for l in df['required_education']:
    if l == '':
        add_map['has_edu_require'].append(0)
        for key in edu_map:
            add_map[key].append(0)
    else:
        add_map['has_edu_require'].append(1)
        for key in edu_map:
            if key == l: add_map[key].append(1)
            else: add_map[key].append(0)
for key in add_map:
    CleanDf[key] = add_map[key]

In [11]:
salary_label = []
lower_salary = []
upper_salary = []
for l in df['salary_range']:
    try:
        frags = l.split('-')
        a = int(frags[0])
        b = int(frags[1])
        salary_label.append(1)
        lower_salary.append(a)
        upper_salary.append(b)
    except:
        salary_label.append(0)
        lower_salary.append(0)
        upper_salary.append(0)
# print(salary_label,lower_salary,upper_salary)
# min max normalization
minimum = min(lower_salary)
diff = max(lower_salary) - min(lower_salary)
for i in range(len(lower_salary)): lower_salary[i] = (lower_salary[i] - minimum)/diff

minimum = min(upper_salary)
diff = max(upper_salary) - min(upper_salary)
for i in range(len(upper_salary)): upper_salary[i] = (upper_salary[i] - minimum)/diff

CleanDf['salary_label'] = salary_label
CleanDf['lower_salary'] = lower_salary
CleanDf['upper_salary'] = upper_salary

In [12]:
is_US = []
for l in df['location']:
    frags = l.split(',')
    if frags[0] == 'US': is_US.append(1)
    else: is_US.append(0)
CleanDf['in_US'] = is_US

In [13]:
# IT / CS industry?

In [14]:
exp_map = {}
for l in df['required_experience']:
    if l == '': continue
    if l in exp_map:
        exp_map[l] += 1
    else:
        exp_map[l] = 1
add_map = {}
add_map['has_exp_require'] = []
for key in exp_map:
    add_map[key] = []
for l in df['required_experience']:
    if l == '':
        add_map['has_exp_require'].append(0)
        for key in exp_map:
            add_map[key].append(0)
    else:
        add_map['has_exp_require'].append(1)
        for key in exp_map:
            if key == l: add_map[key].append(1)
            else: add_map[key].append(0)
for key in add_map:
    CleanDf[key] = add_map[key]

In [15]:
func_map = {}
for l in df['function']:
    if l == '': continue
    if l in func_map:
        func_map[l] += 1
    else:
        func_map[l] = 1
add_map = {}
add_map['has_function'] = []
for key in func_map:
    add_map[key] = []
for l in df['function']:
    if l == '':
        add_map['has_function'].append(0)
        for key in func_map:
            add_map[key].append(0)
    else:
        add_map['has_function'].append(1)
        for key in func_map:
            if key == l: add_map[key].append(1)
            else: add_map[key].append(0)
for key in add_map:
    CleanDf[key] = add_map[key]

In [16]:
CleanDf['fraudulent'] = df['fraudulent']

In [17]:
CleanDf

,telecommuting,has_company_logo,has_questions,has_edu_require,Bachelor's Degree,Master's Degree,High School or equivalent,Unspecified,Some College Coursework Completed,Vocational,...,Quality Assurance,Data Analyst,Business Analyst,Writing/Editing,Distribution,Science,Training,Purchasing,Legal,fraudulent
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17876,0,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17878,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17879,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Vectorize 
The description should contain very much detail, we will need to vectorize it. One possible solution is TF-idf vectorization, but this method will calculate the frequency only while ignoring the connection between words during NLP processing. I prefer to use tensorflow Tokenizer to vectorize description to catch words order infomation. Preparing for a LSTM network analysis.

In [18]:
df['text'] = df['title'] + " " + df['department'] + \
             " " + df['company_profile'] + " " + \
             df['description'] + " " + \
             df['requirements'] + " " +\
             df['benefits'] + " " +\
             df['function'] + " " +\
             df['required_experience']+ " "+\
             df["required_education"]+ " " +\
             df["industry"]
df_last = df.drop(columns = ['job_id','title','location','department', 'telecommuting',
                             'salary_range','company_profile','description','requirements','benefits','employment_type',
                             'required_experience','required_education','industry','function'])
print(df_last.isna().sum())
df_last.head()

has_company_logo    0
has_questions       0
fraudulent          0
text                0
dtype: int64

,has_company_logo,has_questions,fraudulent,text
0,1,0,0,"Marketing Intern Marketing We're Food52, and w..."
1,1,0,0,Customer Service - Cloud Video Production Succ...
2,1,0,0,Commissioning Machinery Assistant (CMA) Valor...
3,1,0,0,Account Executive - Washington DC Sales Our pa...
4,1,1,0,Bill Review Manager SpotSource Solutions LLC ...

In [19]:
def text_clean():
    text_list = []
    nltk.download('punkt')
    nltk.download('stopwords')
    nltk.download('wordnet')
    nltk.download('omw-1.4')
    for text in df_last.text:
        text = re.sub("[^a-zA-Z]", " ", text)
        text = text.lower()
        text = text.strip()
        text = nltk.word_tokenize(text)
        text = [word for word in text if not word in set(stopwords.words("english"))] # dropping stopwords
        lemma = nltk.WordNetLemmatizer()
        text = [lemma.lemmatize(word) for word in text]
        text = " ".join(text)
        text = text.replace('  ',' ')
        text_list.append(text)
    dfData = pd.DataFrame()
    dfData['data'] = text_list
    dfData['target'] = df['fraudulent']
    dfData.to_csv('washtext.csv')
if exists('./washtext.csv'): dfData = pd.read_csv('washtext.csv')
else: dfData = text_clean()
dfData = dfData[['data','target']]
text_list = dfData['data']

In [20]:
dfData

                                                    data  target
0      marketing intern marketing food created ground...       0
1      customer service cloud video production succes...       0
2      commissioning machinery assistant cma valor se...       0
3      account executive washington dc sale passion i...       0
4      bill review manager spotsource solution llc gl...       0
...                                                  ...     ...
17875  account director distribution sale vend lookin...       0
17876  payroll accountant accounting weblinc e commer...       0
17877  project cost control staff engineer cost contr...       0
17878  graphic designer nemsia studio looking experie...       0
17879  web application developer engineering vend loo...       0

[17880 rows x 2 columns]

In [21]:
max_features = 10000
max_vecLen = max([len(i.split(' ')) for i in dfData['data']])
t = Tokenizer(num_words = max_features)
# fit the tokenizer on the documents
t.fit_on_texts(text_list)
encoded_docs = t.texts_to_sequences(text_list)
joblib.dump(t, './tokinezer_file') # For future Use, if we have more instances coming..

['./tokinezer_file']

In [22]:
embedded_docs=pad_sequences(encoded_docs,padding='pre',maxlen=max_vecLen)
print(embedded_docs)# all reviews must be same lenght. we equals all reviews lenght
embedded_docs.shape

[[   0    0    0 ...  132   26  667]
 [   0    0    0 ...  580   26  280]
 [   0    0    0 ...  568   24 1515]
 ...
 [   0    0    0 ...   10  646   11]
 [   0    0    0 ...   57  869   28]
 [   0    0    0 ...   27  122   36]]

(17880, 1426)

## Data Integration and Split
We will unite all data we have, split into train test set. then we use train set to produce a LSTM Network and get it's prediction to the whole set, use this as a parameter to out SVM or ANN followed.

In [23]:
dfWhole = CleanDf
dfWhole['text'] = text_list
WholeX = dfWhole.drop('fraudulent',axis = 1)
WholeY = dfWhole['fraudulent']

In [24]:
x_train_w, x_test_w, y_train, y_test = train_test_split(WholeX, WholeY, test_size= 0.1, random_state= 1)
# print(x_train.shape, x_test.shape, y_train.shape, y_test.shape, sum(y_train), sum(y_test))

In [25]:
x_train = pad_sequences(t.texts_to_sequences(x_train_w['text']),padding='pre',maxlen=max_vecLen) # for text
x_test = pad_sequences(t.texts_to_sequences(x_test_w['text']),padding='pre',maxlen=max_vecLen)

## LSTM Network analysis
those "data" vectors are transformed text while keeping the original data order. Different length of that will result in a empty training prefix "0". Therefore those data are ready for Long Short Term Memory network analysis.

In [26]:
embedding_vector_features=40
model1=Sequential()
model1.add(Embedding(max_features,embedding_vector_features,input_length=max_vecLen))
model1.add(Bidirectional(LSTM(20)))
model1.add(Dense(1,activation='sigmoid'))
model1.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model1.summary())

2022-12-10 14:36:49.001179: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 1426, 40)          400000

 bidirectional (Bidirectiona  (None, 40)               9760
 l)

 dense (Dense)               (None, 1)                 41

=================================================================
Total params: 409,801
Trainable params: 409,801
Non-trainable params: 0
_________________________________________________________________
None

In [27]:
from keras.callbacks import EarlyStopping, ModelCheckpoint

cp = ModelCheckpoint("./bidirectional_model/" ,save_best_only = True)## creaitng model checkpoint
hist = model1.fit(x_train, y_train, epochs = 4, batch_size = 64,  callbacks = cp, validation_data=(x_test,y_test))

Epoch 1/4
252/252 [==============================] - ETA: 0s - loss: 0.2067 - accuracy: 0.9480

WARNING:absl:Found untraced functions such as _update_step_xla, lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: ./bidirectional_model/assets

INFO:tensorflow:Assets written to: ./bidirectional_model/assets

252/252 [==============================] - 120s 465ms/step - loss: 0.2067 - accuracy: 0.9480 - val_loss: 0.1212 - val_accuracy: 0.9603
Epoch 2/4
252/252 [==============================] - ETA: 0s - loss: 0.0831 - accuracy: 0.9758

WARNING:absl:Found untraced functions such as _update_step_xla, lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: ./bidirectional_model/assets

INFO:tensorflow:Assets written to: ./bidirectional_model/assets

252/252 [==============================] - 122s 485ms/step - loss: 0.0831 - accuracy: 0.9758 - val_loss: 0.1007 - val_accuracy: 0.9743
Epoch 3/4
252/252 [==============================] - ETA: 0s - loss: 0.0485 - accuracy: 0.9868

WARNING:absl:Found untraced functions such as _update_step_xla, lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: ./bidirectional_model/assets

INFO:tensorflow:Assets written to: ./bidirectional_model/assets

252/252 [==============================] - 118s 467ms/step - loss: 0.0485 - accuracy: 0.9868 - val_loss: 0.0996 - val_accuracy: 0.9737
Epoch 4/4
252/252 [==============================] - 108s 428ms/step - loss: 0.0289 - accuracy: 0.9929 - val_loss: 0.1114 - val_accuracy: 0.9670

In [28]:
def eval_metrics(actual, prediction):
    print("Accuracy Score: {}".format(accuracy_score(actual, prediction)))
    print("Recall Score: {}".format(recall_score(actual, prediction)))
    print("f1 Score: {}".format(f1_score(actual, prediction)))
print("Test set:")
model1 = load_model("./bidirectional_model/")
pred = model1.predict(x_test)
pred = (pred >= 0.5)
eval_metrics(y_test, pred)
print("\n Train set:")
predTrain = model1.predict(x_train)
predTrain = (predTrain >= 0.5)
eval_metrics(y_train, predTrain)

Test set:
56/56 [==============================] - 4s 63ms/step
Accuracy Score: 0.9737136465324385
Recall Score: 0.5764705882352941
f1 Score: 0.6758620689655171

 Train set:
503/503 [==============================] - 32s 64ms/step
Accuracy Score: 0.993661446681581
Recall Score: 0.9014084507042254
f1 Score: 0.9324503311258279

## SVM Predict
we get a SVM as the last step predicting, see if we can get higher f1 score by this.
This SVM will use kernel we choose to optimize the outcome, while given all parameters in our cleaned dataframe and the LSTM prediction value

In [29]:
x = CleanDf.drop(["fraudulent"],axis = 1)
y = CleanDf['fraudulent']
x_train1 = x_train_w.drop(["text"],axis=1)
x_train1['LSTM'] = model1.predict(x_train)
x_test1 = x_test_w.drop(["text"],axis=1)
x_test1['LSTM'] = model1.predict(x_test)
y_train1 = y_train
y_test1 = y_test
print(x_train1.shape, x_test1.shape, y_train1.shape, y_test1.shape)

503/503 [==============================] - 33s 66ms/step
56/56 [==============================] - 4s 63ms/step

In [30]:
svc=SVC(kernel='poly') 
svc.fit(x_train1,y_train1)
y_pred=svc.predict(x_test1)
eval_metrics(y_test1, y_pred)

Accuracy Score: 0.9776286353467561
Recall Score: 0.5764705882352941
f1 Score: 0.7101449275362318

In [31]:
# Training score
y_pred=svc.predict(x_train1)
eval_metrics(y_train1, y_pred)

Accuracy Score: 0.9909271687795178
Recall Score: 0.8220230473751601
f1 Score: 0.8979020979020979

In [34]:
from sklearn import metrics
print("area under curve (auc): ", metrics.roc_auc_score(y_train1, y_pred))

area under curve (auc):  0.9107829298661444